@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-Medium.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-MediumItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-Regular.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-RegularItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-Thin.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-ThinItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-UltraLight.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl Ultralight It';
  src: url('../fonts/GridSuisseIntl-UltralightItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-Black.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-BlackItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-Bold.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-BoldItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl Book';
  src: url('../fonts/GridSuisseIntl-Book.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl Book';
  src: url('../fonts/GridSuisseIntl-BookItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-DemiBold.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl DemiBold It';
  src: url('../fonts/GridSuisseIntl-DemiBoldItalic.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-DemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Suisse Intl';
  src: url('../fonts/GridSuisseIntl-Light.woff2') format('woff2'),
  url('../fonts/GridSuisseIntl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



.anek {
  font-family: "Anek Latin", sans-serif;
}

.suisse {
  font-family: 'Grid Suisse Intl';
}