.h-menu {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px 36px;
    @media (max-width: 1200px) {
      padding: 16px 24px;
    }
  }
}
.btn-head-menu {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px 36px;
  }
}